/* CSS Document */

<style type="text/css">
body {
	background-color: #333;
}
body {
	background-color: #333;
}
.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #333;
}
.header {
	background-attachment: fixed;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	background-color: #333;
}
.content {
	padding: 10px;
	background-color: #CCC;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}
.fotter {
	padding: 1px;
	background-color: #CCC;
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}
.orange_text {
	color: #F90;
}
.red_text {
	color: #F00;
}
.green_text {
	color: #0F0;
}
